html, body {
    width: 100%;
    height: 100%;
}

.w-100px {
    width: 100px;
}

.w-300px {
    width: 300px;
}

.w-404px {
    width: 404px;
}

.p-8px {
    padding: 8px;
}

#page-title {
    font-size: 3vw;
}

#content {
    width: 500px;
    padding: 48px 48px 48px 24px;
    margin: auto;
}

#page-title {
    font-size: 3vw;
}

.flex-container {
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; /* 수직 정렬 */

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; /* 수평 정렬 */
}

#chart-area {
    margin: auto;
    width: 404px;
    height: 404px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; /* 수직 정렬 */

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; /* 수평 정렬 */
}

#save-btn[disabled] {
  cursor: not-allowed;
}

.status-checking {
    border: 2px solid #f9ca24 !important;
    border-radius: .25rem;
}

.status-fail {
    border: 2px solid #ff7979 !important;
    border-radius: .25rem;
}

.status-success {
    border: 2px solid #badc58 !important;
    border-radius: .25rem;
}

#first-step-div, #second-step-div, #third-step-div {
    border: 2px solid transparent;
}