{% load static %}
<meta charset="UTF-8">
<title>Elastic TEST</title>

<script src="{% static 'js/jquery-3.6.0.min.js' %}?ver={% now "U" %}"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>

<link href="{% static 'css/my_css.css' %}?ver={% now "U" %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'js/my_js.js' %}?ver={% now "U" %}"></script>