{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
        <div>
            <p class="m-0 text-center"><b id="page-title">Draw <span style="color: #3498db;">charts</span> with elasticsearch <span style="color: #f1c40f;">index name</span>.</b></p>
        </div>
        <hr class="m-0">
    </div>
    <div class="flex-container">
        <div>
            <div style="padding: 48px;">
                <label><b>1. Enter the index name.</b></label>
                <div class="input-container">
                    <input type="text" class="form-control" id="input-index-name" autofocus>
                    <div class="icon-container visibility_hidden">
                        <i class="loader"></i>
                    </div>
                </div>
            </div>
            <label style="margin-left: 48px;"><b>2. Look at the chart below.</b></label>
            <div id="chart-area">
                <i class="fad fa-chart-area fa-9x" style="color: #ecf0f1;"></i>
            </div>
        </div>
    </div>
    <script>

        // 엘라스틱서치 서버 정보
        const ES_IP = '192.168.1.44';
        const ES_PORT = '9200';

        const processed_index_name_prefix = 'processed-';

        // 차트 없을 때
        const blank = `<i class="fad fa-chart-area fa-9x" style="color: #ecf0f1;"></i>`;

        // 차트 로딩
        const loading = `<div class="spinner-border text-primary" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>`;

        let searched_index_name_list = []
        // 입력할 때마다 엘라스틱서치로부터 인덱스들과 이름 비교를 계속 함.
        $("#input-index-name").on("change keyup paste", function () {
            const input_text = $('#input-index-name').val();
            if (input_text.trim() !== '') {
                $.ajax({
                        url: "http://" + ES_IP + ":" + ES_PORT + "/_cat/indices/*" + input_text + '*?format=json',
                        type: 'GET',
                        dataType: 'json',
                        beforeSend: function () {
                            $('.icon-container').toggleClass('visibility_hidden');
                        },
                        success: function (result) {
                            $('.icon-container').toggleClass('visibility_hidden');

                            // 인덱스 이름 중에 processed- 로 시작하는 인덱스들만...
                            result = result.filter((item) => (String(item.index).startsWith(processed_index_name_prefix)));
                            searched_index_name_list = result.map((item) => item.index);
                        },
                        error: function () {
                            $('.icon-container').toggleClass('visibility_hidden');
                        }
                    }
                );
            }
        });

        // 인덱스 이름 검색
        $("#input-index-name").autoComplete({
            minChars: 1,
            source: function (term, suggest) {
                term = term.toLowerCase();
                const choices = searched_index_name_list;
                const matches = [];
                for (const i in choices)
                    if (~choices[i].toLowerCase().indexOf(term)) matches.push(choices[i]);
                suggest(matches);
            }
        });

        $('#input-index-name').keypress((e) => {
            if (e.which === 13) {
                const entered_index_name = $('#input-index-name').val();

                // 아무것도 입력하지 않으면.
                if (entered_index_name.trim() === '') {
                    $('#chart-area').html(blank);
                } else {
                    // 입력한 인덱스가 엘라스틱서치에 존재하는 인덱스인지 체크해야 됨.
                    $.ajax({
                            url: "http://" + ES_IP + ":" + ES_PORT + "/_cat/indices/" + entered_index_name + '?format=json',
                            type: 'GET',
                            dataType: 'json',
                            async: false,
                            beforeSend: function () {
                                $('#chart-area').html(loading);
                            },
                            success: function () { // 있으면 차트 보여주기
                                get_all_document_data_in_any_index(entered_index_name);
                                Toast.fire({
                                    icon: 'success',
                                    title: '차트 생성 완료'
                                });
                            },
                            error: function () { // 없으면
                                $('#chart-area').html(blank);
                                Toast.fire({
                                    icon: 'error',
                                    title: '존재하지 않는 인덱스 이름입니다.'
                                });
                            }
                        }
                    );
                }
            }
        });

        // 특정 인덱스의 모든 정보를 확인
        const get_all_document_data_in_any_index = (index_name) => {
            const queryFilter = {
                size: get_total_document_count(index_name),
                query: {"match_all": {}},
            };
            $.ajax({
                    url: "http://" + ES_IP + ":" + ES_PORT + "/" + index_name + "/_search",
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(queryFilter),
                    contentType: "application/json;charset=UTF-8",
                    beforeSend: function () {
                        $('#chart-area').html(loading);
                    },
                    success: function (data) {

                        // 특정 index 에 포함되어 있는 document 들의 정보를 리스트로 받아옴.
                        const doc_list = data.hits.hits;

                        // document 들의 메타 정보 같은 것들은 제외하고 가장 필요한 _source 데이터만을 list 로 map() 으로 받아옴.
                        const doc_source_list = doc_list.map((doc) => doc['_source']);

                        // 데이터 그리기
                        $('#chart-area').empty();
                        draw_chart(doc_source_list);
                    },
                }
            );
        };

        // 특정 인덱스의 document 개수를 확인
        const get_total_document_count = (index_name) => {
            let count = null;
            $.ajax({
                    url: "http://" + ES_IP + ":" + ES_PORT + "/" + index_name + "/_count",
                    type: 'POST',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        count = data['count']
                    },
                }
            );
            return count
        };

        let chart = null;
        let options = null;
        const draw_chart = (doc_source_list) => {
            const apexChart = "#chart-area";

            // 이미 차트가 있으면 destroy 해줘야 됨.
            if (chart !== null) {
                chart.destroy();
                chart = null;
                options = null;
            }

            const chart_info = doc_source_list[0];
            if (chart_info.type === 'pie') {

                const sources = doc_source_list.slice(1);
                const _labels = sources.map((v) => v.item);
                const _series = sources.map((v) => v.count);

                options = {
                    series: _series,
                    labels: _labels,
                    title: {
                        text: chart_info.title,
                        align: 'center',
                    },
                    subtitle: {
                        text: chart_info.subtitle,
                        align: 'center',
                    },
                    chart: {
                        type: chart_info.type,
                        width: 590,
                        height: 590,
                    },
                    legend: {
                        position: 'bottom',
                    },
                };
                chart = new ApexCharts(document.querySelector(apexChart), options);
                chart.render();
            } else if (chart_info.type === 'bar') {

                const sources = doc_source_list.slice(1);
                const _categories = sources.map((v) => v.item + '개');
                const _data = sources.map((v) => v.count);

                options = {
                    series: [{
                        data: _data
                    }],
                    title: {
                        text: chart_info.title,
                        align: 'center',
                    },
                    subtitle: {
                        text: chart_info.subtitle,
                        align: 'center',
                    },
                    chart: {
                        type: chart_info.type,
                        width: 590,
                        height: 590,
                        toolbar: {
                            show: false,
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    plotOptions: {
                        bar: {
                            columnWidth: '45%',
                            distributed: true,
                        }
                    },
                    legend: {
                        show: false
                    },
                    colors: ['#33b2df', '#546E7A', '#d4526e', '#13d8aa', '#A5978B', '#2b908f', '#f9a3a4', '#90ee7e',
                        '#f48024', '#69d2e7'
                    ],
                    yaxis: {
                        title: {
                            text: chart_info.y_title,
                        },
                        labels: {
                            formatter: function (y) {
                                return y.toFixed(0) + "개";
                            }
                        }
                    },
                    xaxis: {
                        title: {
                            text: chart_info.x_title,
                        },
                        type: 'category',
                        categories: _categories
                    }
                };
                chart = new ApexCharts(document.querySelector(apexChart), options);
                chart.render();
            } else if (chart_info.type === 'horizontal_bar') {
                const sources = doc_source_list.slice(1);
                const _categories = sources.map((v) => v.item);
                const _data = sources.map((v) => v.count);

                options = {
                    series: [{
                        data: _data
                    }],
                    title: {
                        text: chart_info.title,
                        align: 'center',
                    },
                    subtitle: {
                        text: chart_info.subtitle,
                        align: 'center',
                    },
                    chart: {
                        type: 'bar',
                        width: 590,
                        height: 590,
                        toolbar: {
                            show: false,
                        }
                    },
                    plotOptions: {
                        bar: {
                            barHeight: '100%',
                            distributed: true,
                            horizontal: true,
                            dataLabels: {
                                position: 'bottom'
                            },
                        }
                    },
                    legend: {
                        show: false
                    },
                    colors: ['#33b2df', '#546E7A', '#d4526e', '#13d8aa', '#A5978B', '#2b908f', '#f9a3a4', '#90ee7e',
                        '#f48024', '#69d2e7'
                    ],
                    dataLabels: {
                        enabled: true,
                        textAnchor: 'start',
                        style: {
                            colors: ['#fff']
                        },
                        formatter: function (val, opt) {
                            return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val + '개'
                        },
                        offsetX: 0,
                        dropShadow: {
                            enabled: true
                        }
                    },
                    stroke: {
                        width: 1,
                        colors: ['#fff']
                    },
                    yaxis: {
                        labels: {
                            show: false
                        }
                    },
                    xaxis: {
                        title: {
                            text: chart_info.x_title,
                        },
                        type: 'category',
                        categories: _categories
                    }
                };
                chart = new ApexCharts(document.querySelector(apexChart), options);
                chart.render();
            }
        };

        const Toast = Swal.mixin({
            toast: true,
            position: 'bottom-end',
            showConfirmButton: false,
            timer: 2500,
            padding: 20,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })
    </script>
{% endblock %}